body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-weight: 900;
    line-height: 1.5;
    font-size: 2.5rem;
}

h3 {
    font-weight: 900;
    font-size: 1.5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

.download-button {
    margin: 5% 3% 5% 0;
}


.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#features {
    text-align: center;
    padding: 5% 1%;
    background-color: white;
    position: relative;
}

.p1 {
    padding: 50px;
}

.feature-icon {
    color: #ef8172;
    padding-bottom: 15px;
}

.feature-icon:hover{
    color: #ff4c68;
}

.container-sm {
    padding: 100 100 100 100;
}

#testimonials {
    text-align: center;
    background: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item {
padding: 7% 15%;
}

#press {
    background: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 18%;
    margin: 20px 35px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

.card-text {
    color: grey;
 font-weight: 300;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    
    .title-img {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    background: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.true {
    font-size: 3rem;
    padding-bottom: 0px;
    color: white;
    text-align: center;
    line-height: 1.5;       
}

#footer {
    background: #fff;
    text-align: center;
    padding: 7% 15%;
}

.download-button2 {
    margin: 4% 3% 3% 3%;
}

.backtotop:hover {
    text-decoration: none;
    color: grey;
}





